<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/hariom.jha.5648"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/hariom__zz_/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/hariom-jha-150249279/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div>&copy; Wonderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
</footer>